# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.factorypath
.vscode/
*.swp
*.swo
*~
.DS_Store

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# Application
data/
logs/
